<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 banner">
                <div class="row">
                    <img src="/assets/img/aboutbanner.png" class="img-responsive" alt="Banner">
                    <div class="banner-txt">
                        <h1>Checkout</h1> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="form">
                    <h2>Personal Details</h2>
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-border">
                                    <label>First Name</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-border">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-border">
                                    <label>Email</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-border">
                                    <label>Phone</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-group-border">
                                    <label>Your Country</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-border">
                                    <label>Your State</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-border">
                                    <label>Zip</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-group-border">
                                    <label>Address</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group termsncond">
                                    <div class="checkbox">
                                        <label>
                                            <input checked="checked" type="checkbox">
                                            <span class="cr"><i class="cr-icon fa fa-check" aria-hidden="true"></i></span> My Shipping Details the same as Personal Details
                                        </label>
                                        </div>
                                </div>
                            </div>    
                        </div>    


                    </form>
                    <div class="clear20"></div>
                    <h2>Payment Details</h2>
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-group-border">
                                    <label>Card Number</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-border">
                                    <label>Expiry Date</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-border">
                                    <label>CVV</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form">
                    <h2>Payment Information</h2>
                    <div class="payment-info">
                        <ul>
                            <li>
                                Type: <span>C-BOX 1</span>
                            </li>
                            <li>
                                Card Subtotal: <span>$49.95</span>
                            </li>
                            <li>
                                Amount: <span>1</span>
                            </li>
                            <li>
                                Total Price: <span>$49.95</span>
                            </li>
                        </ul>
                    </div>
                    <div class="file-upload">
                        <div class="form-group">
                            <div class="row">
                            <div class="col-sm-9">
                                <p>Want to put your logo on the box?</p>
                            </div>
                            <div class="col-sm-3 text-right">
                                <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                </label>
                            </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                            <div class="col-sm-5">
                                <div class="logo-upload">
                                <input type="file">
                                <span>No Logo Uploaded</span>
                                </div>
                                <img src="assets/img/close-icon.png" class="img-responsive close-upload" alt="close" title="Close">
                            </div>
                            <div class="col-sm-5">
                                <div class="logo-upload">
                                <input type="file">
                                <span>No Logo Uploaded</span>
                                </div>
                                <img src="assets/img/close-icon.png" class="img-responsive close-upload" alt="close" title="Close">
                            </div>

                            <div class="col-sm-2">
                                <span class="plus-icon">   
                                    <img src="assets/img/plus.png" alt="img">
                                </span>

                            </div>

                            </div>
                        </div>
                        </div>


                    <form>
                        <h3>Choose Payment Method</h3>
                        <div class="method-block">
                            <div class="col-md-6 noleftpadding">
                                <div class="pay-method selected">
                                    <img src="assets/img/visa.png" class="img-responsive" alt="Visa">
                                </div>
                            </div>
                            <div class="col-md-6 norightpadding">
                                <div class="pay-method">
                                    <img src="assets/img/paypal.png" class="img-responsive" alt="Paypal">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="community-btn">processed secure payment</button> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="clear20"></div>
    </div>
</section>
<div class="clear20"></div>
<app-footer></app-footer>