.content-form-page{
    background: transparent;
}

.leader-tile{
    width: 100%;
    display: inline-flex;
    margin-bottom: 10px;
    border: 1px solid #eee;
    padding: 20px;
}
.avatar{
    width: 100px;
    height: 100px;
}
.page-content{
    background: transparent;
}