.banner-txt{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    text-align: center;
    }
    .banner img{
    width: 100%;
    max-height: 723px;
    min-height: 600px;
    }
    .banner-txt img{
    margin: auto;
    width: auto;
    cursor: pointer;
    }
    .banner-txt h1{
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    }
    .banner-txt h2{
       font-size: 19px;
       color: #fff;
       padding-bottom: 35px;
    }
    .heading{
    margin-top: 60px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    }
    .heading h1{
    font-size: 20px;
    display: inline-block;
    margin: 0;
    color: #2a2937;
    }
    .sort-box{
    float: right;
    width: 23%;
    }
    .organization{
    background: #fff;
    margin: 0 5px 20px;
    height: 100%;
    box-shadow: 0 3px 8px 1px #e3e3e3;
    -webkit-box-shadow: 0 3px 8px 1px #e3e3e3;
    -moz-box-shadow: 0 3px 8px 1px #e3e3e3;
    padding-bottom: 30px;
    }
    .organization .image{
    position: relative;
    }
    .organization .small-img{
    position: absolute;
    box-shadow: 0 3px 2px 1px #ccc;
    -webkit-box-shadow: 0 1px 1px 1px #999;
    -moz-box-shadow: 0 3px 2px 1px #ccc;
    background: #fff;
    bottom: -10px;
    left: 10px;
    height: 90px;
    width: 90px;
    }
    .organization .small-img img{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    }
    .org-details{
    padding: 10px 10px 20px;
    }
    .org-details a{
    display: block;
    position: absolute;
    bottom: 0;
    padding: 12px 45px;
    }
    .org-details h2{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    }
    .org-details p{
    line-height: 24px;
    }
    .pagination-block{
    padding-right: 20px;
    }
    .pagination>li>a, .pagination>li>span{
    color: #666;
    }
    .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #467ffd;
    border-color: #467ffd;
    }
    .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #467ffd;
    }
    .pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span{
    border-radius: 0;
    }
    .pagination>li {
    display: inline-block;
    margin: 0 1px;
    }
    .searchbox{
    position: relative;
    }
    .search-btn{
    position: absolute;
    top: 0;
    right: 10px;
    color: #666;
    display: block;
    font-size: 15px;
    line-height: 40px;
    border-left: 1px solid #ccc;
    padding-left: 10px;
    bottom: 1px;
    cursor: pointer;
    z-index: 9;
    }
    .search-btn:hover{
    color: #467FFD;
    }
    .sort-box select{
    background: #fff url(../../../../assets/img/select-icon.png) no-repeat 95% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    }
    h3{
    font-size: 22px;
    font-weight: bold;
    margin: 40px 0;
    color: #333;
    }
    .category{
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    }
    .category ul li a{
    color: #467FFD;
    display: block;
    text-decoration: none;
    padding: 10px 0;
    font-size: 15px;
    }
    .category ul li a:hover{
    color: #666;
    }
    .category ul li a span{
    float: right;
    color: #666;
    }
    .featured h4{
    color: #333;
    margin: 0 0 5px;
    font-weight: bold;
    font-size: 13px;
    }
    .featured ul li{
    display: inline-block;
    width: 100%;
    border: 1px solid #eee;
    margin: 5px 0;
    }
    .featured .org-details{
    padding: 10px 0;
    }
    .featured .org-details p{
    font-size: 12px;
    margin: 0;
    line-height: 15px;
    }
    .featured .row-eq-height div div{
    height: 100%;
    }
    .featured ul li .image img{
    width: 100%;
    height: 100%;   
    }
    .form-control{
    border-radius: 2px;
    height: 40px;
    }
    .modal-header{
    background: #f4f4f4;
    border: none;
    }
    .modal-title {
    color: #333;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    }
    .modal-content{
    border-radius: 0;
    }
    .modal-body h2{
    font-size: 20px;
    margin: 0 0 20px;
    font-weight: bold;
    color: #333;
    }
    .dotted-border {
    border-bottom: 1px dotted #ccc;
    width: 78%;
    display: inline-block;
    }
    .total .cbox-count {
    color: #333;
    font-weight: bold;
    float: right;
    }
    .modal-body {
    padding: 40px;
    }
    .modal-body .form-group{
    margin: 30px 0 20px;
    }
    .modal-body .form-group label{
    margin-bottom: 10px;
    color: #333;
    }
    .modal-body .form-group .form-control {
    height: 50px;
    border-radius: 5px;
    color: #333; 
    }
    .modal .community-btn{
    border: none;
    width: 100%;
    font-size: 15px;
    margin-bottom: 0;
    }
    button.close{
    float: none;
    position: absolute;
    right: -25px;
    top: -20px;
    font-size: 20px;
    color: #fff;
    opacity: 1;
    font-weight: normal;
    }
    .donate-block{margin-bottom: 15px; font-size: 12px; color: #2A2937;}
    .donate-block-lft{color: #467FFD;}
    .sponsor-row{padding-bottom: 35px;}

    .form-group-border {
     border: 1px solid #ccc;
     border-radius: 3px;
     margin-bottom: 20px;
     text-align: left;
     background: #fff;
    }
    .form-group-border label, .form-group-border select.form-control {padding: 0 15px;}

    label {
     margin-bottom: 0;
     color: #6d6d6d;
     font-weight: normal;
     padding-left: 0;
     font-size: 13px;
       }
     .form-group-border .form-control {
        border: none;
        box-shadow: none;
        padding: 0;
        font-size: 14px;
        height: 25px;
        color: #000;
       } 

       select.form-control {
        background: #fff url('../../../../assets/img/select-icon.png') no-repeat 98% 5px;
        -webkit-appearance: none;
        -moz-appearance: none;
          } 

    .community-btn:hover {
background: url(../../../../assets/img/send-msg-btn-hover.png) no-repeat !important;
   background-size: auto auto;
background-size: 100% 100% !important;
text-decoration: none;
color: #fff;
}
 .community-btn {
margin: 0;
border: none;
font-size: 15px;
padding: 14px 30px;
}      

 .contry-name{font-size: 40px; color: #2a2937;}

 .sort-box select.form-control{background:#fff url('../../../../assets/img/select-icon.png') no-repeat 98% 15px;}


    @media screen and (min-width: 768px) and (max-width: 991px){
    .banner-txt h1 {
    font-size: 25px;
    }
   /* .community-btn {
    padding: 10px;
    margin: 5px 0;
    font-size: 10px;
    }*/
    .organization .image img{
    width: 100%;
    }
    }
    @media screen and ( max-width: 767px ){
    .organization .image img{
    margin: auto;
    }
    .featured ul li .image img {
    width: auto;
    height: auto;
    margin: auto;
    }
    .org-details {
    text-align: center;
    }
    .org-details a {
    position: relative;
    bottom: 0;
    }
    .org-details a img{
    margin: auto;
    }
    .sort-box {
    width: 100%;
    }
    .heading h1 {
    font-size: 17px;
    margin: 0 0 10px;
    }
    .dotted-border {
    width: 100%;
    }
    .total .cbox-count {
    float: left;
    }
    .modal-body {
    padding: 20px;
    }
    .modal-title {
    font-size: 20px;
    }
    .nav-dropdown .dropdown-menu{text-align: left;}
    .banner-txt h1 {
    font-size: 25px;
    }

    .community-btn {
margin: 10px auto 20px;
display: block;
}
    }
    @media (min-width: 768px){
    .modal-dialog {
    width: 430px;
    }
    }

    @media (max-width: 700px){

       .banner-txt h2{font-size: 14px;color: #fff; padding-bottom: 8px;}


    }

    @media (max-width: 600px){

    .banner-txt h1 {font-size: 19px;}
    .form-group-border{margin-bottom: 4px;}


    }  