<section>
  <div class="container-fluid">
     <div class="row">
        <div class="col-md-12 banner">
           <div class="row">
              <img src="../../../../assets/img/sponsor-listing-banner.jpg" class="img-responsive" alt="Banner">
              <div class="banner-txt">
                    <h1>What to see our Partners?</h1>
                    <h2>You need to select country you interested in to check list of country partners</h2>              
                    <div class="row">
                        <form role="form" #profileForm="ngForm">
                            <div class="col-md-9 col-sm-9">
                                    <div class="form-group form-group-border">
                                        <label>Country</label>
                                        <select class="form-control" name="country" [(ngModel)]="model.country">
                                            <option value="United">United States</option>
                                            <option value="California">California</option>
                                            <option value="Canada">Canada</option>
                                            <option value="China">China</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 text-left">
                                    <div class="row">
                                        <button type="submit" class="community-btn" (click)="onSearch()">Submit</button>
                                    </div>   
                            </div>    
                        </form>                        
                    </div>
              </div>              
           </div>
        </div>
     </div>
  </div>
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <div class="heading">
              <h1>List of Country Sponsors</h1>
              <!-- <div class="sort-box">
                 <select class="form-control">
                    <option>Sort by</option>
                    <option>Sort by</option>
                 </select>
              </div> -->
           </div>
        </div>
     </div>
     <div class="clear20"></div>
     <div class="row sponsor-row">
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="contry-name">{{ model_.country }}</div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
           <div class="donate-block">
              <div class="row">
                 <div class="col-md-4 col-sm-5 donate-block-lft">{{ model_.country }}</div>
                 <div class="col-md-4 col-sm-7">{{ model_.state }}</div>
                 <div class="col-md-4 col-sm-7">{{ model_.city }}</div>
              </div>
           </div>
        </div>
     </div>
     
  </div>
</section>
<app-footer></app-footer>