section{
    background: #ecf5f9;
}
.main-body{
    position: relative;
    padding-left: 20px;
}
.main-body h1{
    color: #333;
    font-size: 32px;
    margin: 40px 0;
}
.main-body h1 span{
    background: #467FFD;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    width: 40px;
    text-align: center;
    position: relative;
    vertical-align: top;
    border-radius: 2px;
    margin-right: 10px;
}
.main-body h1 span img{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 20px;
}
.main-body .community-btn{
    margin: 0;
    border: none;
    font-size: 15px;
    text-transform: capitalize;
    padding: 6px;
    height: 50px;
}
.form-group-border{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px 0 2px 1px;
    margin-bottom: 20px;
    text-align: left;
    background: #fff;
}
.form-group-border .form-control:focus{
    box-shadow: none;
}
label{
    margin-bottom: 0;
    color: #6d6d6d;
    font-weight: normal;
    padding-left: 0;
    font-size: 13px;
}
.form-group-border .form-control{
    border: none;
    box-shadow: none;
    padding: 0;
    font-size: 14px;
    height: 25px;
    color: #000;
}
.form-group-border label, .form-group-border select.form-control {
    padding: 0 15px;
}
select.form-control{
    background: #fff url('../images/select-icon.png') no-repeat 98% 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.reset-btn.form-control{
    border: none;
    background: none;
    box-shadow: none;
    color: #FB6180;
}
.permission-box{
    box-shadow: 0 3px 10px 0 #ccc;
    -moz-box-shadow: 0 3px 10px 0 #ccc;
    -webkit-box-shadow: 0 3px 10px 0 #ccc;
    background: #fff;
    border-radius: 3px;
}
.permission-box .header{
    background: #f5f5f5;
    padding: 20px;
    text-align: center;
    color: #333;
}
.permission-box .header h2{
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}
.permission-box .form{
    padding: 40px 0 0;
    display: inline-block;
    width: 100%;
}
.permission-box .buttons{
    border-top: 1px solid #eee;
    padding: 20px 40px 0;
}
.permission-box .form-section{
    padding: 0 40px;
}
.permission-box{
    position: relative;
}
.close-btn{
    color: #6d6d6d;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
    text-decoration: none;
}
.close-btn:hover{
    text-decoration: none;
    color: #000;
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    .icons ul li {
        width: 26px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    h1{
        font-size: 30px;
    }
}
@media screen and (max-width: 991px){
    .top-right {
        width: 100%;
        margin: 10px 0 0;
    }
    .community-btn {
        margin: 10px auto 20px;
        display: block;
    }
    .main-body {
        padding-left: 0;
    }
}
@media screen and (max-width: 767px){
    section {
        padding: 0 0 20px;
    }
    h1{
        font-size: 25px;
    }
    h2 {
        font-size: 14px;
    }
    .clear {
        height: 0;
    }
    h3 {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .clear20{
        display: none;
    }
}