<h4 class="page-title">
    <span style="color: #EC307C;">Edit</span> Profile
</h4>
<div class="content-form-page">
  <div class="alert alert-success " [class.hidden] = "successMessage == ''">
    <button type="button" class="close" (click) = "successMessage = ''"></button>
    <p>{{successMessage}}</p>
  </div>
  <form class="form-horizontal" role="form" #profileForm="ngForm">
  <div class="row">
    <div class="col-md-7 col-sm-7">
        <fieldset>
          <legend>{{tr("DETAILS")}}</legend>
          <div class="form-group">
              <label class="control-label col-md-4">{{tr('TYPE')}}<span class="require">*</span></label>
              <div class="col-md-8" *ngIf = "authService.isLoggedIn() == USER_SIGNED_INFO.SIGNED_IN">
                <select class="form-control placeholder-no-fix padding-left-5" [(ngModel)]="model.role" name="role" required="true" style="padding-left: 6px; color: #aaa;">
                  <option value={{USER_TYPE.INDIVIDUAL}} *ngIf = "authService.currentUser.role != USER_TYPE.MEMBER">{{tr("INDIVIDUAL")}}</option>
                  <option value={{USER_TYPE.INSTITUTION}} *ngIf = "authService.currentUser.role != USER_TYPE.MEMBER">{{tr("INSTITUTION")}}</option>
                  <option value={{USER_TYPE.SCHOOL}} *ngIf = "authService.currentUser.role != USER_TYPE.MEMBER">{{tr("SCHOOL")}}</option>
                  <option value={{USER_TYPE.MEMBER}} *ngIf = "authService.currentUser.role == USER_TYPE.MEMBER">{{tr("MEMBER")}}</option>
                </select>
              </div>
          </div>
          <div class="form-group">
            <label for="name" class="col-md-4 control-label">{{tr("NAME")}}<span class="require">*</span></label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name" required="true">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">{{tr("EMAIL")}}<span class="require">*</span></label>
            <div class="col-md-8">
              <input type="text" class="form-control" name="email" [(ngModel)]="model.email" required="true" disabled>
            </div>
          </div>
          <div class="form-group" [class.hidden] = "model.type == 2">
            <label class="col-md-4 control-label">{{tr("AGE")}}</label>
            <div class="col-md-8">
              <select class="form-control placeholder-no-fix padding-left-5" name="age" [(ngModel)]="model.age" style="padding-left: 6px;color: #aaa;">
                <option value=4>3~5</option>
                <option value=6>5~8</option>
                <option value=9>8~11</option>
                <option value=12>11~13</option>
                <option value=15>13~18</option>
                <option value=20>18~</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">{{tr("SCHOOL")}}</label>
            <div class="col-md-8">
              <input type="text" class="form-control" name="school" [(ngModel)]="model.school" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">{{tr("COMPANY")}}</label>
            <div class="col-md-8">
              <input type="text" class="form-control" name="company" [(ngModel)]="model.company" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">{{tr("PHONE")}}</label>
            <div class="col-md-8">
              <input type="text" class="form-control" name="phone"  [(ngModel)]="model.phone" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">{{tr("ADDRESS")}}</label>
            <div class="col-md-8">
              <input type="text" class="form-control" name="address" required = "true" [(ngModel)]="model.address" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">{{tr("CITY")}}</label>
            <div class="col-md-8">
              <input type="text" class="form-control" name="city" required = "true" [(ngModel)]="model.city" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">{{tr("COUNTRY")}}</label>
            <div class="col-md-8">
              <input type="text" class="form-control" name="country" required = "true" [(ngModel)]="model.country" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">{{tr("BIRTHDAY")}}</label>
            <div class="col-md-8">
               <!-- <input type="text" value="{{ getBirthDay() | date:'yyyy-MM-dd' }}" class="datepicker form-control"> -->
               <div class="input-group input-medium date date-picker" data-date="2016-09-09" data-date-format="yyyy-mm-dd" data-date-viewmode="years" style="width: 100% !important;">
                    <input type="text" class="form-control" readonly="" name="birthday" id="input-birthday">
                    <span class="input-group-btn">
                        <button class="btn default" type="button" style="margin-right: 0px;">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
          </div>
          <legend>Your Goals</legend>
          <div class="form-group">
            <label class="col-md-4 control-label">{{tr("DAILY_GOAL")}}</label>
            <div class="col-md-6">
              <input type="number" class="form-control" name="goal_daily" [(ngModel)]="model.goal_daily" >
            </div>
            <label class="col-md-2 control-label">{{(model.daily_count - model.goal_daily > 0)?"+":""}}{{model.daily_count - model.goal_daily}}</label>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">{{tr("WEEKLY_GOAL")}}</label>
            <div class="col-md-6">
              <input type="number" class="form-control" name="goal_weekly" [(ngModel)]="model.goal_weekly" >
            </div>
            <label class="col-md-2 control-label">{{(model.weekly_count - model.goal_weekly > 0)?"+":""}}{{model.weekly_count - model.goal_weekly}}</label>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">{{tr("MONTHLY_GOAL")}}</label>
            <div class="col-md-6">
              <input type="number" class="form-control" name="goal_monthly" [(ngModel)]="model.goal_monthly" >
            </div>
            <label class="col-md-2 control-label">{{(model.monthly_count - model.goal_monthly > 0)?"+":""}}{{model.monthly_count - model.goal_monthly}}</label>
          </div>
          <div *ngIf = "authService.isLoggedIn() == USER_SIGNED_INFO.SIGNED_IN && (authService.currentUser.role == USER_TYPE.SCHOOL || authService.currentUser.role == USER_TYPE.INSTITUTION)">
            <legend>Weekly Digest Email</legend>
            <div class="form-group">
              <label class="col-md-4 control-label">Video URL</label>
              <div class="col-md-8">
                <input type="text" class="form-control" name="weekly_mail_video" [(ngModel)]="model.weekly_mail_video" placeholder="Please put youtube url here." (blur) = "checkVideoURL();">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Ignore Mail</label>
              <div class="col-md-8">
                <select class="form-control placeholder-no-fix padding-left-5" name="weekly_mail_ignore" [(ngModel)]="model.weekly_mail_ignore" style="padding-left: 6px;color: #aaa;">
                  <option value=1>Ignore</option>
                  <option value=0>Allow</option>
                </select>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="row">
          <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20" style="text-align:center;">
            <button type="submit" class="btn btn-primary green" (click) = "updateProfile(profileForm);">Update Profile</button>
          </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 pull-right" style="text-align: center;    margin-top: 25px;">
        <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-new thumbnail" style="min-width: 200px; min-height: 200px;">
              <img id="profile-image-viewer" alt="" style="width: 100%; height: 100%;">
            </div>
            <div>
                <a class="btn green" (click) = "image_box_dialog.show();">{{tr("EDIT_PROFILE_IMAGE")}} </a>
                <!--<button type="submit" class="btn btn-primary green" (click) = "updateProfile(profileForm);">{{tr("UPDATE_PROFILE")}}</button>-->
            </div>
        </div>
    </div>
  </div>
  </form>
</div>
<div bsModal #image_box_dialog="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Add Box" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="max-width: 450px;">
      <div class="modal-header">
        <button type="button" class="close" (click)="image_box_dialog.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3><i class="fa fa-edit"></i>{{tr("IMAGE_EDIT_PAN")}}</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" style="display: block;" #editboxForm = "ngForm">
          <div class="row">
            <fieldset style="">
              <div class="fileinput fileinput-new col-sm-12" data-provides="fileinput">
                  <div class="fileinput-new thumbnail">
                    <!-- <img src="{{image_src}}" alt=""> -->
                    <!-- <img-cropper #cropper [settings]="cropperSettings"></img-cropper> -->
                    <div class="cropper" id = "cropper" style="width: 400px; height: 400px;">
                    </div>
                  </div>
                  <!-- <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div> -->
                  <div style="    text-align: center;">
                      <span class="btn default btn-file blue">
                        <span class="fileinput-new">{{tr("SELECT_DIFFERENT_IMAGE")}}</span>
                        <input type="file" name="..." (change)="fileChange(input)" #input>
                      </span>
                  </div>
              </div>
            </fieldset>
            <fieldset style="text-align: right;padding-right: 30px;margin-top: 30px;">
              <div class="">
                <button class="btn btn-primary green" (click)="saveImage(); image_box_dialog.hide();">{{tr("SAVE")}}</button>
                <button class="btn red" (click)="image_box_dialog.hide();">{{tr("CANCEL")}}</button>
              </div>
            </fieldset>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
