<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 banner">
            <div class="row">
                <img src="assets/img/aboutbanner.png" class="img-responsive" alt="Banner">
                <div class="banner-txt">
                    <h1>Donate</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
                <h1>Chooose organization you want to donate</h1>
                <div class="sort-box">
                    <select class="form-control">
                        <option>Sort by</option>
                        <option>Sort by</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="clear20"></div>
    <div class="row">
        <div class="col-sm-9">
            <div class="row row-eq-height">
                <div class="col-md-4">
                    <div class="organization">
                        <div class="image">
                            <img src="assets/img/donate1.jpg" class="img-responsive" alt="image">
                            <div class="small-img">
                                <img src="assets/img/donate-logo.png" class="img-responsive" alt="donate-logo">
                            </div>
                        </div>
                        <div class="org-details">
                            <h2>Organization name</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a href="#" class="community-btn" data-toggle="modal" data-target=".modal">Donate
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="organization">
                        <div class="image">
                            <img src="assets/img/donate2.jpg" class="img-responsive" alt="image">
                            <div class="small-img">
                                <img src="assets/img/donate-logo.png" class="img-responsive" alt="donate-logo">
                            </div>
                        </div>
                        <div class="org-details">
                            <h2>Organization name</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a href="#" class="community-btn" data-toggle="modal" data-target=".bs-example-modal-sm">Donate
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="organization">
                        <div class="image">
                            <img src="assets/img/donate3.jpg" class="img-responsive" alt="image">
                            <div class="small-img">
                                <img src="assets/img/donate-logo.png" class="img-responsive" alt="donate-logo">
                            </div>
                        </div>
                        <div class="org-details">
                            <h2>Organization name</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a href="#" class="community-btn" data-toggle="modal" data-target=".bs-example-modal-sm">Donate
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear20"></div>
            <div class="row row-eq-height">
                <div class="col-md-4">
                    <div class="organization">
                        <div class="image">
                            <img src="assets/img/donate1.jpg" class="img-responsive" alt="image">
                            <div class="small-img">
                                <img src="assets/img/donate-logo.png" class="img-responsive" alt="donate-logo">
                            </div>
                        </div>
                        <div class="org-details">
                            <h2>Organization name</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a href="#" class="community-btn" data-toggle="modal" data-target=".bs-example-modal-sm">Donate
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="organization">
                        <div class="image">
                            <img src="assets/img/donate2.jpg" class="img-responsive" alt="image">
                            <div class="small-img">
                                <img src="assets/img/donate-logo.png" class="img-responsive" alt="donate-logo">
                            </div>
                        </div>
                        <div class="org-details">
                            <h2>Organization name</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a href="#" class="community-btn" data-toggle="modal" data-target=".bs-example-modal-sm">Donate
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="organization">
                        <div class="image">
                            <img src="assets/img/donate3.jpg" class="img-responsive" alt="image">
                            <div class="small-img">
                                <img src="assets/img/donate-logo.png" class="img-responsive" alt="donate-logo">
                            </div>
                        </div>
                        <div class="org-details">
                            <h2>Organization name</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a href="#" class="community-btn" data-toggle="modal" data-target=".bs-example-modal-sm">Donate
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear20"></div>
            <div class="pagination-block text-center">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">&lt; Prev</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next ></a></li>
                  </ul>
                </nav>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="searchbox">
                <input type="text" class="form-control" placeholder="Search">
                <span class="search-btn">
                <i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
            <div class="category">
                <h3>Category</h3>
                <ul>
                    <li><a href="#">Hospital <span class="count">14</span></a></li>
                    <li><a href="#">School <span class="count">23</span></a></li>
                    <li><a href="#">Food Bank <span class="count">38</span></a></li>
                    <li><a href="#">Torah Learning <span class="count">11</span></a></li>
                    <li><a href="#">Family Services <span class="count">25</span></a></li>
                    <li><a href="#">Hospital <span class="count">14</span></a></li>
                    <li><a href="#">School <span class="count">23</span></a></li>
                    <li><a href="#">Food Bank <span class="count">38</span></a></li>
                    <li><a href="#">Torah Learning <span class="count">11</span></a></li>
                    <li><a href="#">Family Services <span class="count">25</span></a></li>
                </ul>
            </div>
            <div class="featured">
                <h3>Featured Organizations</h3>
                <ul>
                    <li>
                        <div class="row-eq-height">
                            <div class="col-md-4">
                                <div class="row image">
                                    <img src="assets/img/donate1.jpg" class="img-responsive" alt="image">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="org-details">
                                    <h4>Organization name</h4>
                                    <p>Lorem Ipsum is simply dummy text.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row-eq-height">
                            <div class="col-md-4">
                                <div class="row image">
                                    <img src="assets/img/donate2.jpg" class="img-responsive" alt="image">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="org-details">
                                    <h4>Organization name</h4>
                                    <p>Lorem Ipsum is simply dummy text.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row-eq-height">
                            <div class="col-md-4">
                                <div class="row image">
                                    <img src="assets/img/donate3.jpg" class="img-responsive" alt="image">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="org-details">
                                    <h4>Organization name</h4>
                                    <p>Lorem Ipsum is simply dummy text.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row-eq-height">
                            <div class="col-md-4">
                                <div class="row image">
                                    <img src="assets/img/donate1.jpg" class="img-responsive" alt="image">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="org-details">
                                    <h4>Organization name</h4>
                                    <p>Lorem Ipsum is simply dummy text.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>