<section>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12 banner">
              <div class="row">
                  <img src="../../../assets/img/aboutbanner.png" class="img-responsive" alt="Banner">
                  <div class="banner-txt">
                      <h1>Frequently Asked Questions</h1> 
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="clear20"></div>
  <div class="container">
      <div class="row">
          <div class="col-md-1 hidden-sm hidden-xs"></div>
          <div class="col-md-10">
              <div class="faq" *ngFor="let item of ask_answer_list; let i = index;">
                  <h2 (click)="onClickAsk(i+1);"> {{ item.ask }}
                      <span class="plus" *ngIf="answer_state && (ask_state == (i+1))">+</span>
                      <span class="minus" *ngIf="!answer_state && (ask_state == (i+1))">-</span>
                  </h2>
                  <div class="answer" *ngIf="!answer_state && (ask_state == (i+1))">
                      <p>{{ item.answer }}</p>
                  </div>
              </div>
              <!-- <div class="faq">
                  <h2 (click)="onClickAsk();">How can put money in C - Box? <span class="plus">+</span><span class="minus">-</span></h2>
                  <div class="answer" *ngIf="!answer_state && (ask_state == 2)">
                      <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                      ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                      amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                      odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
                  </div>
              </div>
              <div class="faq">
                  <h2 (click)="onClickAsk();">What the difference between Mitz and Mitzvot? <span class="plus">+</span><span class="minus">-</span></h2>
                  <div class="answer" *ngIf="!answer_state && (ask_state == 3)">
                      <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                      ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                      amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                      odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
                  </div>
              </div>
              <div class="faq">
                  <h2 (click)="onClickAsk();">How can put money in C - Box? <span class="plus">+</span><span class="minus">-</span></h2>
                  <div class="answer" *ngIf="!answer_state && (ask_state == 4)">
                      <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                      ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                      amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                      odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
                  </div>
              </div> -->
          </div>
          <div class="col-md-1 hidden-sm hidden-xs"></div>
      </div>
      <div class="clear20"></div>
  </div>
</section>

<div class="clear20"></div>
<div class="chatbox" hidden>
    <div class="chat-window col-md-3 col-sm-6">
        <div class="panel panel-default">
            <div class="top-bar">
                <div class="col-md-3 col-xs-3">
                    <div class="user-icon">
                        <img src="../../../assets/img/user3.png" class="img-responsive" alt="user-img">
                    </div>
                </div>
                <div class="col-md-9 col-xs-9">
                    <div class="row">
                        <div class="detail">
                            Ann stockward
                            <p>Support Assistance</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body msg_container_base">
                <div class="row msg_container base_sent">
                    <div class="messages msg_sent">
                        <p>Hi</p>
                    </div>
                </div>
                <div class="row msg_container base_receive">
                    <div class="messages msg_receive">
                        <p>Hello</p>
                        <p>How can i help you?</p>
                    </div>
                </div>
                <div class="row msg_container base_sent">
                    <div class="messages msg_sent">
                        <p>Not sure i understand about mitz</p>
                    </div>
                </div>
                <div class="row msg_container base_sent">
                    <div class="messages msg_sent">
                        <p>How it works?</p>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input type="text" class="form-control input-sm chat_input" placeholder="Write a question..." />
                    <span class="input-group-btn">
                    <button class="btn">Send</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="chat-close">
            <a href="#"><img src="../../../assets/img/chat-close.png" class="img-responsive"></a>
        </div>
    </div>
</div>

<app-footer></app-footer>