<h4 class="page-title">
    <span style="color: #EC307C;">My</span> Members
</h4>
<div class="content-form-page">
  <div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button class="btn sbold green add-member-btn" (click) = "showAddDialog();">Add new member
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="dataTables_wrapper col-xs-12" style="padding-top: 15px;">
      <!-- <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="dataTables_length" id="sample_5_length">
            <label>{{tr("SHOW")}}
              <select name="sample_5_length" aria-controls="sample_5" class="form-control input-sm input-xsmall input-inline">
                <option value="6">6</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="-1">All</option>
              </select>
            </label>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div id="sample_5_filter" class="dataTables_filter">
            <label>Search:
              <input type="search" class="form-control input-sm input-small input-inline" placeholder="" aria-controls="sample_5">
            </label>
          </div>
        </div>
      </div> -->
      <div class="table-scrollable">
        <table class="table table-striped table-advance table-bordered table-hover table-checkable order-column dataTable" role="grid">
          <thead>
            <tr role="row">
              <th class="sorting" tabindex="0"  rowspan="1" colspan="1" style="width: 15%;">
                {{tr("NAME")}}
              </th>
              <!-- <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                {{tr("EMAIL")}}
              </th> -->
              <th class="sorting" style="width: 10%;">
                {{tr("BOX_IDS")}}
              </th>
              <th class="sorting" style="width: 10%;">
                {{tr("DAILY_COUNT")}}
              </th>
              <!-- <th class="sorting" style="width: 10%;">
                {{tr("WEEKLY_COUNT")}}
              </th> -->
              <th class="sorting" style="width: 10%;">
                {{tr("MONTHLY_COUNT")}}
              </th>
              <th class="sorting" style="width: 10%;">
                {{tr("AMOUNT_IN_BOX")}}
              </th>
              <th class="sorting" style="width: 10%;">
                {{tr("PHONE")}}
              </th>
              <!-- <th class="sorting" style="width: 10%;">
                {{tr("LIFETIME_COUNT")}}
              </th> -->
              <th class="sorting" tabindex="0"  rowspan="1" colspan="1">
                {{tr("ACTION")}}
              </th>
            </tr>
          </thead>
          <!-- <tfoot>
            <tr>
              <th colspan="3" style="text-align:right" rowspan="1">Total:&nbsp;&nbsp;</th>
              <th rowspan="1" colspan="1">$9589 ( $30253 total)</th>
            </tr>
          </tfoot> -->
          <tbody>
            <tr class="gradeX" role="row" *ngFor="let member of profileService.members; let i =index;">
              <td class=""> {{member.name}} </td>
              <!-- <td class="sorting_1">
                  {{member.email}}
              </td> -->
              <td>
                {{array_to_string(member.boxes)}}
              </td>
              <td>
                {{member.goal_daily}}/{{member.daily_count}}
              </td>
              <!-- <td>
                {{member.goal_weekly}}/{{member.weekly_count}}
              </td> -->
              <td>
                {{member.goal_monthly}}/{{member.monthly_count}}
              </td>
              <td>
                {{member.amount}}
              </td>
              <td>
                {{member.phone}}
              </td>
              <td>
                <button type="button" class="btn btn-primary blue" (click)="dev_index=i;showEditDialog(member)" ><i class="fa fa-edit blue"></i></button>
                <button type="button" class="btn red" (click)="dev_index = i; remove_member_dialog.show();" ><i class="fa fa-trash-o red"></i></button>
                <a class="btn green" href="mailto: {{member.email}}" ><i class="fa fa-envelope green"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div bsModal #add_member_dialog="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Add Member" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="add_member_dialog.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3>Add new member</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" style="display: block;" #addmemberForm = "ngForm">
          <div class="row">
            <fieldset>
              <div class="form-group">
                <label class="col-lg-4 control-label">{{tr("NAME")}}<span class="require">*</span></label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" name="name" required="true" [(ngModel)]="model.name">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label">{{tr("EMAIL")}}<span class="require">*</span></label>
                <div class="col-lg-8">
                  <input class="form-control" name="email" required="true" type="email" [(ngModel)]="model.email">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label">{{tr("PHONE")}}</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" name="phone" [(ngModel)]="model.phone">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label">{{tr("ADDRESS")}}</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" name="address" required = "true" [(ngModel)]="model.address">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label">{{tr("CITY")}}</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" name="city" required = "true" [(ngModel)]="model.city">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label">{{tr("COUNTRY")}}</label>
                <div class="col-lg-8">
                  <!-- <input type="text" class="form-control" name="country" required = "true" [(ngModel)]="model.country"> -->
                  <select class="form-control" [(ngModel)]="model.country" name="country" required>
                    <option value="{{country_code}}" *ngFor="let country_code of country_codes;">{{country_names[country_code]}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label">{{tr("PASSWORD")}}<span class="require">*</span></label>
                <div class="col-lg-8">
                  <input class="form-control" name="password" required="true" type="password" [(ngModel)]="model.password">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label">{{tr("DAILY_GOAL")}}<span class="require">*</span></label>
                <div class="col-lg-8">
                  <input class="form-control" name="goal_daily" required="true" type="number" [(ngModel)]="model.goal_daily">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label">{{tr("WEEKLY_GOAL")}}<span class="require">*</span></label>
                <div class="col-lg-8">
                  <input class="form-control" name="goal_weekly" required="true" type="number" [(ngModel)]="model.goal_weekly">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label">{{tr("MONTHLY_GOAL")}}<span class="require">*</span></label>
                <div class="col-lg-8">
                  <input class="form-control" name="goal_monthly" required="true" type="number" [(ngModel)]="model.goal_monthly">
                </div>
              </div>
              <div class="form-group" *ngFor="let box of model.boxes; let i = index;trackBy:customTrackBy">
                <hr class="seperator">
                <div class="row" style="margin: 0px; margin-bottom: 15px;">
                  <label class="col-lg-4 control-label">{{tr("BOX_ID")}}</label>
                  <div class="col-lg-8">
                    <input class="form-control" name="boxes[{{i}}]" required="true" type="number" [(ngModel)]="model.boxes[i]">
                  </div>
                </div>
                <div class="row" style="margin: 0px;">
                  <label class="col-lg-4 control-label">{{tr("SECRET_CODE")}}</label>
                  <div class="col-lg-8">
                    <input class="form-control" name="secretCodes[{{i}}]" required="true" type="text" [(ngModel)]="model.secretCodes[i]">
                  </div>
                </div>
              </div>
              <!-- <div class="form-group" *ngFor = "let secretCode of model.secretCodes; let i = index;trackBy:customTrackBy">

              </div> -->
            </fieldset>
            <fieldset style="text-align: right;margin: 15px;">
              <div class="col-lg-offset-4 col-lg-8">
                <button type="button" class="pull-left btn btn-primary blue" (click)="addBoxToCreate();">{{tr("ADD_BOX")}}</button>
                <button type="button" class="pull-left btn btn-primary blue" (click)="removeBoxToCreate();" [disabled] = "model.boxes.length < 2" style="    margin-left: 5px;">{{tr("REMOVE_BOX")}}</button>
                <button class="btn btn-primary green" (click)="createMember(addmemberForm);">{{tr("CREATE")}}</button>
                <button type="button" class="btn red" (click)="add_member_dialog.hide();">{{tr("CANCEL")}}</button>
              </div>
            </fieldset>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div bsModal #edit_member_dialog="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Edit Member" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="edit_member_dialog.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3>Edit member</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" style="display: block;" #edit_memberForm = "ngForm">
          <div class="row">
            <fieldset>
              <div class="form-group">
                <label class="col-lg-4 control-label">{{tr("NAME")}}<span class="require">*</span></label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" name="name" required="true" [(ngModel)]="model.name">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label">{{tr("EMAIL")}}<span class="require">*</span></label>
                <div class="col-lg-8">
                  <input class="form-control" name="email" type="email" required="true" [(ngModel)]="model.email">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label">{{tr("PHONE")}}</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" name="phone" [(ngModel)]="model.phone">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label">{{tr("ADDRESS")}}</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" name="address" required = "true" [(ngModel)]="model.address">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label">{{tr("CITY")}}</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" name="city" required = "true" [(ngModel)]="model.city">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label">{{tr("COUNTRY")}}</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" name="country" required = "true" [(ngModel)]="model.country">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label">{{tr("DAILY_GOAL")}}<span class="require">*</span></label>
                <div class="col-lg-8">
                  <input class="form-control" name="goal_daily" required="true" type="number" [(ngModel)]="model.goal_daily">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label">{{tr("WEEKLY_GOAL")}}<span class="require">*</span></label>
                <div class="col-lg-8">
                  <input class="form-control" name="goal_weekly" required="true" type="number" [(ngModel)]="model.goal_weekly">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label">{{tr("MONTHLY_GOAL")}}<span class="require">*</span></label>
                <div class="col-lg-8">
                  <input class="form-control" name="goal_monthly" required="true" type="number" [(ngModel)]="model.goal_monthly">
                </div>
              </div>
              <hr class="seperator">
              <div class="form-group" *ngFor="let box of model.boxes; let i = index;trackBy:customTrackBy">
                <div class="row" style="margin: 0px; margin-bottom: 15px;">
                  <label class="col-lg-4 control-label">{{tr("BOX_ID")}}</label>
                  <div class="col-lg-8">
                    <input class="form-control" name="boxes[{{i}}]" required="true" type="number" [(ngModel)]="model.boxes[i]">
                  </div>
                </div>
                <div class="row" style="margin: 0px;">
                  <label class="col-lg-4 control-label">{{tr("SECRET_CODE")}}</label>
                  <div class="col-lg-8">
                    <input class="form-control" name="secretCodes[{{i}}]" required="true" type="text" [(ngModel)]="model.secretCodes[i]">
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset style="text-align: right;margin: 15px;">
              <div class="col-lg-offset-4 col-lg-8">
                <button type="button" class="pull-left btn btn-primary blue" (click)="addBoxToCreate();">{{tr("ADD_BOX")}}</button>
                <button type="button" class="pull-left btn btn-primary blue" (click)="removeBoxToCreate();" [disabled] = "model.boxes.length < 2" style="margin-left: 5px;">{{tr("REMOVE_BOX")}}</button>
                <button class="btn btn-primary green" (click)="editMember(edit_memberForm);">{{tr("EDIT")}}</button>
                <button type="button" class="btn red" (click)="edit_member_dialog.hide();">{{tr("CANCEL")}}</button>
              </div>
            </fieldset>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div bsModal #remove_member_dialog="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Remove Member" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="remove_member_dialog.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3><i class="fa fa-warning"></i>{{tr("DELETE")}}</h3>
      </div>
      <div class="modal-body">
        <p>{{tr("DELETE_MESSAGE")}}</p>
        <button class="btn btn-primary red" (click)="removeMember();remove_member_dialog.hide();">{{tr("DELETE")}}</button>
        <button class="btn green" (click)="remove_member_dialog.hide();">{{tr("CANCEL")}}</button>
      </div>
    </div>
  </div>
</div>
