<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 banner">
            <div class="row">
                <img src="/assets/img/aboutbanner.png" class="img-responsive" alt="Banner">
                <div class="banner-txt">
                    <h1>Ask Donate</h1>  
                    <!-- <p>We are here to help you! Please don't hesitate to fill out the form below.</p> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <form class="form-horizontal" role="form" (ngSubmit) = "saveDonate(donateForm);" #donateForm="ngForm">
    <div class="row">
        <div class="col-md-2 hidden-sm hidden-xs"></div>
        <div class="col-md-8">
            <div class="contact-form">
                <!-- <h2>Type your message in form below</h2> -->
                <fieldset>
                    <!-- <legend></legend> -->
                    <div class="form-group form-group-border">
                        <label>Name</label>
                        <input class="form-control " id="name" name="name" placeholder="" required="" type="text" [(ngModel)]="model.name">
                    </div>
                    <div class="form-group form-group-border">
                        <label>Brief Description</label>
                        <textarea class="form-control ng-untouched ng-pristine ng-valid" cols="40" id="description" name="description"
                        placeholder="" rows="8"  [(ngModel)]="model.description"></textarea>
                    </div>
                    <div class="form-group margin-top:20px">
                        <label class="col-md-3 control-label" for="name"><span class="require"></span>Picture</label>
                        <div class="col-md-9" style="text-align: center;">
                            <div class="fileinput fileinput-new pull-left" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="min-width: 200px; min-height: 200px;width: 200px;">
                                  <img id="donate-image-viewer" alt="" style="width: 100%; height: 100%;">
                                </div>
                                <div>
                                    <a class="btn green" (click) = "image_box_dialog.show();" >Edit Image </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-border">
                        <label>Address</label>
                        <input class="form-control ng-untouched ng-pristine ng-invalid" id="address" name="address" placeholder="" required="" type="text" [(ngModel)]="model.address">
                    </div>
                    <div class="form-group form-group-border">
                        <label>City</label>
                        <input class="form-control ng-untouched ng-pristine ng-invalid" id="city" name="city" placeholder="" required="" type="text" [(ngModel)]="model.city">
                    </div>
                    <div class="form-group form-group-border">
                        <label>Country</label>
                        <input class="form-control ng-untouched ng-pristine ng-invalid" id="country" name="country" placeholder="" required="" type="text" [(ngModel)]="model.country">
                    </div>
                    <!-- <div class="form-group form-group-border">
                        <label>Category</label>
                        <input class="form-control ng-untouched ng-pristine ng-invalid" id="category" name="category" placeholder="" required="" type="text" [(ngModel)]="model.category">
                    </div> -->
                    <div class="form-group form-group-border">
                        <label>Category</label>
                        <div class="">
                            <select class="form-control placeholder-no-fix padding-left-5" [(ngModel)]="model.category" name="category" required="true" style="padding-left: 6px; color: #aaa;">
                                <option value="0"></option>
                                <option value={{DONATE_CATEGORY_INDEX.HOSPITAL}}>{{DONATE_CATEGORY.HOSPITAL}}</option>
                                <option value={{DONATE_CATEGORY_INDEX.SCHOOL}}>{{DONATE_CATEGORY.SCHOOL}}</option>
                                <option value={{DONATE_CATEGORY_INDEX.FOOD_BANK}}>{{DONATE_CATEGORY.FOOD_BANK}}</option>
                                <option value={{DONATE_CATEGORY_INDEX.TORAH_LEARNING}} >{{DONATE_CATEGORY.TORAH_LEARNING}}</option>
                                <option value={{DONATE_CATEGORY_INDEX.FAMILY_SERVICES}} >{{DONATE_CATEGORY.FAMILY_SERVICES}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-border">
                        <label>Commitment</label>
                        <input class="form-control ng-untouched ng-pristine ng-invalid" id="commitment" name="commitment"
                        placeholder="" required="" type="text" [(ngModel)]="model.commitment">
                    </div>
                    <div class="form-group form-group-border">
                        <label>Donate Count</label>
                        <input class="form-control ng-untouched ng-pristine ng-valid" id="donate_count"
                        name="donate_count" placeholder="" required="" type="number" [(ngModel)]="model.donate_count">
                    </div>
                    <div class="form-group form-group-border">
                        <label>Exist Count</label>
                        <input class="form-control ng-untouched ng-pristine ng-valid" id="exist_count"
                        name="exist_count" placeholder="" required="" type="number" [(ngModel)]="model.exist_count" readonly="">
                    </div>
                    <div class="alert alert-success " [class.hidden] = "successMessage == ''">
                        <button type="button" class="close" (click) = "successMessage = ''"></button>
                        <p>{{successMessage}}</p>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control">Save Donate</button>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-md-2 hidden-sm hidden-xs"></div>
    </div>
    <div class="clear20"></div>
    </form>
</div>

<div bsModal #image_box_dialog="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Add Box" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="max-width: 450px;">
      <div class="modal-header">
        <button type="button" class="close" (click)="image_box_dialog.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3><i class="fa fa-edit"></i>Crop Image</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" style="display: block;" #editboxForm = "ngForm">
          <div class="row">
            <fieldset>
              <div class="fileinput fileinput-new col-sm-12" data-provides="fileinput">
                  <div class="thumbnail">
                    <!-- <img src="{{image_src}}" alt=""> -->
                    <!-- <img-cropper #cropper [settings]="cropperSettings"></img-cropper> -->
                    <div class="cropper" id = "cropper" style="width: 400px; height: 400px;">
                    </div>
                  </div>
                  <!-- <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div> -->
                  <div style="    text-align: center;">
                      <span class="btn default btn-file blue">
                        <span class="">Select different image</span>
                        <input type="file" name="..." (change)="fileChange(input)" #input>
                      </span>
                  </div>
              </div>
            </fieldset>
            <fieldset style="text-align: right;padding-right: 30px;margin-top: 30px;">
              <div class="">
                <button class="btn btn-primary green" (click)="saveImage(); image_box_dialog.hide();">Select</button>
                <button class="btn red" (click)="image_box_dialog.hide();">Cancel</button>
              </div>
            </fieldset>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
