<section>
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
              <form role="form" #profileForm="ngForm">
                    <h1>Want to Become a Sponsor?</h1>
                    <h2>Please choose country you interested in</h2>
                    <div class="clear20"></div>
                    <div class="col-md-6">
                        <div class="form-group form-group-border">
                            <label>Country</label>
                            <select class="form-control" name="country_id" [(ngModel)]="model.country_id" (change)="countryChanged()">
                                <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-border">
                            <label>Number of boxes</label>
                            <select class="form-control" name="box_count" [(ngModel)]="model.box_count">
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="col-md-2 text-left">
                        <div class="row">
                            <button type="submit" class="community-btn" (click)="addSponsor(profileForm)">Submit</button>
                        </div>
                    </div> -->
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" checked="checked">
                              <span class="cr"><i class="cr-icon fa fa-check" aria-hidden="true"></i></span> Only available for sponsorship regions
                            </label>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="col-md-12" id="state-body" >
                        <div class="select-state">
                            <h3>Now you should select State</h3>
                            <div class="row">
                                <div class="col-sm-6 col-md-2" *ngFor="let state of states" (click)="stateChanged(state.id)">
                                    <div class="state {{ state.id == model.state_id? 'selected': ''}}">{{state.name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
              </form>
              <div class="clear"></div>
              <div class="col-md-2 hidden-xs hidden-sm"></div>
              <div class="table-box col-md-8 box-display">
                  <div class="table-head">
                      <h3>Sponsors Table</h3>
                      <div class="top-right">
                          <div class="col-md-7">
                              <!-- <div class="row">
                                  <div class="searchbox">
                                      <input type="text" class="form-control" placeholder="Search">
                                      <span class="search-btn">
                                      <i class="fa fa-search" aria-hidden="true"></i></span>
                                  </div>
                              </div> -->
                          </div>
                      </div>
                  </div>
                  <div class="table-responsive">
                      <table class="table">
                          <thead>
                              <tr>
                                  <th>#</th>
                                  <th>City</th>
                                  <th>District</th>
                                  <th>Units</th>
                                  <th>Sponsor</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor = "let place of places">
                                  <td>{{place.id}}</td>
                                  <td>{{place.city}}</td>
                                  <td>{{place.district}}</td>
                                  <td>{{place.units}}</td>
                                  <td>
                                      {{place.sponsor_name}}
                                      <a class="" *ngIf="place.sponsor_name == null" (click)="addSponsor(place.id)">Become a Sponsor</a>
                                  </td> 
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
              <div class="col-md-2 hidden-xs hidden-sm"></div>
          </div>
      </div>
  </div>
</section>
<app-footer></app-footer>