

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h2>MillionMitzvots</h2>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <div class="bottom-block">
                    <div class="row">
                    <div class="col-xs-6">
                        <div class="block">
                            <h3>Address</h3>
                            <p>65 Leonard Street, London EC2A </p>
                        </div>
                        <div class="block">
                            <h3>Email</h3>
                            <a href="mailto:millionmitzvot@gmail.com">millionmitzvot@gmail.com</a>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="block">
                            <h3>Phone</h3>
                            <p>123-456-7890</p>
                        </div>
                        <div class="block social">
                            <h3>Social</h3>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 hidden-sm hidden-xs">
                <div class="row text-center">
                    <div class="divider">&nbsp;</div>
                </div>
            </div>
            <div class="col-sm-6">
                <h2>Navigations</h2>
                <ul>
                    <li>
                        <a [routerLink]="['/home']">
                            <i class="fa fa-circle" aria-hidden="true"></i> Home
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/director_board/']" >
                            <i class="fa fa-circle" aria-hidden="true"></i> About Us
                        </a>
                    </li>
                    <li>
                        <a class="" [routerLink]="['/score']">
                            <i class="fa fa-circle" aria-hidden="true"></i> Score Board
                        </a>
                    </li>
                    <li>
                        <a class="" [routerLink]="['/sell']">
                            <i class="fa fa-circle" aria-hidden="true"></i> Purchase
                        </a>
                    </li>
                    <li><a [routerLink]="['/contact/']"><i class="fa fa-circle" aria-hidden="true"></i> Contacts</a></li>
                </ul>
                <a href="{{SERVER_URL}}/logout" class="community-btn">join the community</a>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>© 2017 All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>