<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3 noleftpadding">
                <div class="sidebar">
                    <div class="sidebar-inner">
                        <div class="myprofile">
                            <img src="{{authenticate.currentUser?.image_url}}" class="img-responsive" alt="Image">
                            <h1>{{ authenticate.currentUser?.name }}</h1>
                            <span class="org-name"><i class="fa fa-users" aria-hidden="true"></i>{{ authenticate.currentUser?.school}}</span>
                        </div>
                        <div class="side-nav">
                            <ul>
                                <li class="active">
                                    <a [routerLink]="['/profile/']">
                                        <img src="/assets/personal-account/img/menu-icon1-dark.png" class="img-responsive" alt="menu-icon">
                                        <img src="/assets/personal-account/img/menu-icon1.png" class="img-responsive onhovershow" alt="icon">
                                        My account
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="['/profile/edit-profile']">
                                        <img src="/assets/personal-account/img/menu-icon7-dark.png" class="img-responsive" alt="menu-icon"> 
                                        <img src="/assets/personal-account/img/menu-icon7.png" class="img-responsive onhovershow" alt="menu-icon">
                                        Edit Profile
                                    </a>
                                </li>
                                <!-- <li>
                                    <a href="#"><img src="images/menu-icon2.png" class="img-responsive" alt="menu-icon"> Good Deeds</a>
                                </li> -->
                                <li>
                                    <a [routerLink]="['/profile/friends']">
                                        <img src="/assets/personal-account/img/menu-icon4-dark.png" class="img-responsive" alt="menu-icon">
                                        <img src="/assets/personal-account/img/menu-icon4.png" class="img-responsive onhovershow" alt="menu-icon">
                                        My friends
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="['/profile/members']">
                                        <img src="/assets/personal-account/img/menu-icon3-dark.png" class="img-responsive" alt="menu-icon"> 
                                        <img src="/assets/personal-account/img/menu-icon3.png" class="img-responsive onhovershow" alt="menu-icon">
                                        My Members
                                    </a>
                                </li>                                
                                <li>
                                    <a href="{{SERVER_URL}}/messages">
                                        <img src="/assets/personal-account/img/menu-icon9-dark.png" class="img-responsive" alt="menu-icon"> 
                                        <img src="/assets/personal-account/img/menu-icon9.png" class="img-responsive onhovershow" alt="menu-icon"> 
                                        Messages
                                    </a>
                                </li>                                
                                <!-- <li>
                                    <a href="notifications.html"><img src="images/menu-icon10.png" class="img-responsive" alt="menu-icon"> Donate</a>
                                </li>
                                <li>
                                    <a href="#"><img src="images/menu-icon6.png" class="img-responsive" alt="menu-icon"> My boxies</a>
                                </li> -->
                            </ul>
                            <ul>                                
                                <li>
                                    <a [routerLink]="['/profile/boxes']">
                                        <!-- <img src="/assets/personal-account/img/menu-icon9-dark.png" class="img-responsive" alt="menu-icon">  -->
                                        <!-- <img src="/assets/personal-account/img/menu-icon9.png" class="img-responsive onhovershow" alt="menu-icon">  -->
                                        My boxes
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="['/profile/sounds']">
                                        <!-- <img src="/assets/personal-account/img/menu-icon9-dark.png" class="img-responsive" alt="menu-icon"> 
                                        <img src="/assets/personal-account/img/menu-icon9.png" class="img-responsive onhovershow" alt="menu-icon">  -->
                                        My Sounds
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="['/profile/report']">
                                        <!-- <img src="/assets/personal-account/img/menu-icon9-dark.png" class="img-responsive" alt="menu-icon">
                                        <img src="/assets/personal-account/img/menu-icon9.png" class="img-responsive onhovershow" alt="menu-icon">  -->
                                        Payment History
                                    </a>
                                </li>
                                <!-- <li> -->
                                    <!-- <a [routerLink]="['/profile_org/changePassword']"> -->
                                        <!-- <img src="/assets/personal-account/img/menu-icon9-dark.png" class="img-responsive" alt="menu-icon"> 
                                        <img src="/assets/personal-account/img/menu-icon9.png" class="img-responsive onhovershow" alt="menu-icon">  -->
                                        <!-- Change Password -->
                                    <!-- </a> -->
                                <!-- </li> -->
                                <li>
                                    <a href="{{SERVER_URL}}/logout">
                                        <img src="/assets/personal-account/img/menu-icon8-dark.png" class="img-responsive" alt="menu-icon">
                                        <img src="/assets/personal-account/img/menu-icon8.png" class="img-responsive onhovershow" alt="menu-icon">
                                        Log Out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</section>

<app-footer></app-footer>