<div class="container-fluid">
    <div class="row row-eq-height">
        <div class="col-sm-6">
            <div class="row">
               <div class="image">
                   <img src="assets/img/img2.png" class="img-responsive" alt="product-img">
               </div> 
            </div>
        </div>
        <div class="col-sm-6">
            <div class="details">
                <div class="detail-head">
                    <h1>c-box 1</h1>
                    <h2><span>$</span>59.95</h2>
                </div>
                <span>Interactive Charity Box</span>
                <div class="rating">
                    <ul>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <div class="col-md-12">
                    <div class="lists">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="listbox">Interactive Charity Box</div>
                            </div>
                            <div class="col-md-4">
                                <div class="listbox">Interactive</div>
                            </div>
                            <div class="col-md-4">
                                <div class="listbox">Interactive Charity</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="listbox">Interactive Charity Box</div>
                            </div>
                            <div class="col-md-4">
                                <div class="listbox">Interactive</div>
                            </div>
                            <div class="col-md-4">
                                <div class="listbox">Interactive Charity</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="count-input space-bottom">
                                <a class="incr-btn" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                                <input class="quantity" type="text" name="quantity" value="01"/>
                                <a class="incr-btn" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="buynow">
                            <a href="checkout.html" class="community-btn">buy now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>