<div id="sell" class="container-fluid" *ngIf="!is_selected_checkout" >
    <div class="row row-eq-height" style="background:#ffffff" style="height:850px">
        <div class="col-sm-6">
            <div class="row">
               <div class="image">
                   <img src="assets/img/img2.png" class="img-responsive" alt="product-img">
               </div> 
            </div>
        </div>
        <div class="col-sm-4">
            <div class="details">
                <div class="detail-head">
                    <h1>c-box 1</h1>
                    <h2><span>$</span>59.95</h2>
                </div>
                <span>Interactive Charity Box</span>
                <div class="rating">
                    <ul>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <div class="col-md-12">
                    <div class="lists">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="listbox">Interactive Charity Box</div>
                            </div>
                            <div class="col-md-4">
                                <div class="listbox">Interactive</div>
                            </div>
                            <div class="col-md-4">
                                <div class="listbox">Interactive Charity</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="listbox">Interactive Charity Box</div>
                            </div>
                            <div class="col-md-4">
                                <div class="listbox">Interactive</div>
                            </div>
                            <div class="col-md-4">
                                <div class="listbox">Interactive Charity</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="count-input space-bottom">
                                <a class="incr-btn" (click)="changeAmount(-1);"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                                <input class="quantity" type="text" [(ngModel)]="buy_count" name="quantity" value="01" max="1000"/>
                                <a class="incr-btn" (click)="changeAmount(1);"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="buynow">
                            <a (click)="is_selected_checkout = true;" class="community-btn">buy now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="checkout" *ngIf="is_selected_checkout" style="background:#ffffff">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 banner">
                <div class="row">
                    <img src="/assets/img/aboutbanner.png" class="img-responsive" alt="Banner">
                    <div class="banner-txt">
                        <h1>Checkout</h1> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear20"></div>
    <div class="container">
        <div class="row">
            <form role="form" #editboxForm = "ngForm" ng-submit="expression" action="{{serverUrl}}/api/v1/sell/postPayNow" method="post">                    
                <div class="col-md-8">
                    <div class="form">
                        <h2>Personal Details</h2>
                            <!-- <div class="alert alert-success " [class.hidden] = "successMessage == ''">
                                <button type="button" class="close" (click) = "successMessage = ''"></button>
                                <p>{{successMessage}}</p>
                            </div> -->
                            <div class="alert alert-danger " [class.hidden] = "input_errorMessage != ''">
                                <button type="button" class="close" (click) = "input_errorMessage = 'close'"></button>
                                <p>Please fill all required fields.</p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-border">
                                        <label>Name</label>
                                        <input class='form-control' type="text" name="payer_name" value="" required="true" style="text-align: left;" [(ngModel)]="payer_name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-border">
                                        <label>City</label>
                                        <input class=' form-control' type="text" name="payer_city" value="" style="text-align: left;" required="true" [(ngModel)]="payer_city">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-border">
                                        <label>Email</label>
                                        <input class='form-control' type="email" name="payer_email" value="" style="text-align: left;" required="true" [(ngModel)]="payer_email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-border">
                                        <label>Phone</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group-border">
                                        <label>Your Country</label>
                                        <input class='form-control' type="text" name="payer_country" value="" style="text-align: left;" required="true" [(ngModel)]="payer_country">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-group-border">
                                        <label>Your State</label>
                                        <input class='form-control' type="text" name="payer_state" value="" style="text-align: left;" required="true" [(ngModel)]="payer_state">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-border">
                                        <label>Zip</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group-border">
                                        <label>Address</label>
                                        <input class='form-control' type="text" name="payer_address" value="" style="text-align: left;" required="true" [(ngModel)]="payer_address">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class='col-md-12'>
                                    <div class="form-group form-group-border">
                                        <label>Comment : </label>                                    
                                        <textarea class='form-control' name="payer_comment" value="" style="text-align: left;" [(ngModel)]="payer_comment"></textarea>
                                    </div>                                
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group termsncond">
                                        <div class="checkbox">
                                            <label>
                                                <input checked="checked" type="checkbox">
                                                <span class="cr"><i class="cr-icon fa fa-check" aria-hidden="true"></i></span> My Shipping Details the same as Personal Details
                                            </label>
                                            </div>
                                    </div>
                                </div>    
                            </div>                    
                            <div class="clear20"></div>
                            <h2>Payment Details</h2>
                            <!-- <span style="font-size: 18px;color: black;">
                                Discount Infomation
                                <i class="fa fa-spinner fa-spin fa-fw" *ngIf = "isLoadingDiscountPercent"></i>
                            </span> -->
                            <div class="form-group" >
                                <label class="col-md-5 control-label">Discount Code : </label>
                                <div class='col-md-5'>
                                    <!-- <input class='form-control' type="text" name="discount_code" value="" style="text-align: left;" (blur) = "refreshDiscount();" id = "sell_board_discount_code"> -->
                                    <div class="form-group form-group-border">
                                        <input class='form-control' type="text" name="discount_code" value="" style="text-align: left;" (blur) = "refreshDiscount();" id = "sell_board_discount_code" [(ngModel)]="discount_code">
                                    </div>
                                </div>
                                </div>
                                <div class="form-group">
                                <label class="col-md-5 control-label">Discount Percent: </label>
                                <div class='col-md-5'>
                                    <label class='form-control' style="text-align: left;">{{discountPercent}}%</label>
                                </div>
                            </div>
                            <div class="row" hidden>
                                <div class="col-md-12">
                                    <div class="form-group form-group-border">
                                        <label>Card Number</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row" hidden>
                                <div class="col-md-6">
                                    <div class="form-group form-group-border">
                                        <label>Expiry Date</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-group-border">
                                        <label>CVV</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form">
                        <h2>Payment Information</h2>
                        <div class="payment-info">
                            <!-- <form class="form-horizontal" role="form" style="display: block;" #editboxForm = "ngForm" ng-submit="expression" action="{{serverUrl}}/api/v1/sell/postPayNow" method="post"> -->
                                <input type="hidden" name="sellbox_id" value="{{curSellBox.id}}">
                                <input type="hidden" name="buy_count" value="{{buy_count}}">
                                <input type="hidden" name="total_price" value="{{totalPrice}}">
                                <input type="hidden" name="donate_id" value="{{donate_id}}">
                                <ul>
                                    <li>
                                        Type: <span>{{curSellBox.type}}</span>
                                    </li>
                                    <li>
                                        Card Subtotal: <span>${{curSellBox.price}}</span>
                                    </li>
                                    <li>
                                        Amount: <span>{{buy_count}}</span>
                                    </li>
                                    <li>
                                        Total Price: <span>${{totalPrice}}</span>
                                    </li>
                                </ul>
                            <!-- </form>                         -->
                        </div>
                        <div class="file-upload" hidden>
                            <div class="form-group">
                                <div class="row">
                                <div class="col-sm-9">
                                    <p>Want to put your logo on the box?</p>
                                </div>
                                <div class="col-sm-3 text-right">
                                    <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                    </label>
                                </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="logo-upload">
                                        <input type="file">
                                        <span>No Logo Uploaded</span>
                                        </div>
                                        <img src="assets/img/close-icon.png" class="img-responsive close-upload" alt="close" title="Close">
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="logo-upload">
                                        <input type="file">
                                        <span>No Logo Uploaded</span>
                                        </div>
                                        <img src="assets/img/close-icon.png" class="img-responsive close-upload" alt="close" title="Close">
                                    </div>

                                    <div class="col-sm-2">
                                        <span class="plus-icon">   
                                            <img src="assets/img/plus.png" alt="img">
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- <form> -->
                            <h3>Choose Payment Method</h3>
                            <div class="method-block">
                                <!-- <div class="col-md-6 noleftpadding">
                                    <div class="pay-method ">
                                        <img src="assets/img/visa.png" class="img-responsive" alt="Visa">
                                    </div>
                                </div> -->
                                <div class="col-md-6 norightpadding">
                                    <div class="pay-method selected">
                                        <img src="assets/img/paypal.png" class="img-responsive" alt="Paypal">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="community-btn" (click)="inputValidated();" >processed secure payment</button>
                            </div>
                            <div class="form-group">
                                <button type="submit" (click)="is_selected_checkout=false;" class="community-btn">Cancel</button>
                            </div>
                        <!-- </form> -->
                    </div>
                </div>
            </form>
        </div>
        <div class="clear20"></div>
    </div>
</section>